body {
    font: 20px arial, sans-serif;
}

h2 {
    font-weight: bold;
}

.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    justify-content: center;
}

nav div {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div a img {
    width: 70px;
    height: 70px;
}

.nav-item {
    font-weight: bold;
}

.margin-tittle {
    margin-bottom: 20px;
}

.quem-somos {
    background-color: white;
}

.parceiros {
    background-color: #FFC820;
}

.servicos {
    background-color: white;
}

.bg-footer {
    color: #9f9f9f;
}